.productListWrap {
  width: 80%;
  margin: 20px auto;
}
.header {
  margin-left: 55px;
  width: 90%;
  margin: auto;
}
.product-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  padding: 20px 0;
}
.card {
  width: 30%;
  margin: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  min-height: 430px;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none !important;
}

.card:hover {
  box-shadow: 0px 2px 8px 3px rgb(58, 58, 58, 0.3);
}

.card p {
  margin-bottom: 10px !important;
  line-height: 18px;
  color: #000 !important;
  font-size: 16px;
}
.desc {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;  
    font-size: 14px !important;
    line-height: 20px !important;
}

.imgBox {
  height: 250px;
  overflow: hidden;
  margin-bottom: 10px;
  border-bottom: 1px solid #efefef;
}
.imgBox img {
  object-fit: fill;
}
.listbtn {
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 5px;
}
.card-active {
  background-color: #addfa7;
}
.SearchOption {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  padding: 10px 20px;
  text-transform: capitalize;
  color: #454545;
  margin-left: 10px;
}
.loaderWrap {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-card {
  width: 80%;
  margin: 50px auto;
}
.single-card .imgBox {
  height: 500px;
  width: 500px;
  margin: auto;
  display: block;
  border-bottom: none;
}
.single-card .imgBox img {
  object-fit: cover;
}
.single-card p {
  text-align: center;
}
.backBtn { 
   color: #000;
   font-size: 16px;
   text-decoration: none;
   background-color: rgb(255, 160, 33);
   font-weight: 500;
   border-radius: 20px;
  padding: 10px 20px;
}
.backBtn svg {
  margin-top: -2px;
}
@media only screen and (max-width: 1200px) {
  .card {
    width: 48%;
  }
}
@media only screen and (max-width: 1200px) {
  .card {
    min-height: 440px;
    width: 48%;
  }
  .header {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .productListWrap {
    padding: 20px;
    width: 100%;
  }
  .card {
    width: 100%;
    min-height: 330px;
  }
  .imgBox {
    height: 200px;
  }
}